<html>
  <body>
    <center>
        <div style="background-color: #bdf1e0; max-width: 840px; margin: 0; padding: 40px;">
            <div style="margin: 20px auto; width: auto; margin: 1px 2px; background-color: #2050b6; border-radius: 5px; text-align: center;">
            <h1 style="color: white">
                Coluna Reta</h1>
            </div>

            <h2 style="color: #000000; text-align: center">Adicione uma senha para sua conta</h2>

            <p style="color: rgb(0, 0, 0)">Para adicionar uma senha em sua conta clique no botão abaixo, ou  {{name}}  acesse o seguinte link: </p>

            <div style="margin: 20px auto; width: auto; margin: 10px 20px; background-color: #2050b6; border-radius: 5px; text-align: center;">
            <a href="{{url}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Site Coluna Reta</a>
            </div>

            <p><a href="{{url}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #000000; font-size: 18px; margin: 0 auto;">{{url}}</a></p>
         </div>
    </center>
  </body>
</html> 